* {
    padding: 0;
    margin: 0;
    user-select: none;
}


canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    width: 100%;
}

body,
html {
    height: 100%;
    width: 100%;
    background: #eee;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    margin-top: 50px;


    .control {
        height: 130px;
        width: 130px;
        font-size: 72px;
        font-family: NerdFont;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@font-face {
    font-family: 'NerdFont';
    src: url('../fonts/NerdFont.ttf');
}